@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Navigation bar */

#navigationBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    position: fixed;
    box-sizing: border-box;

    top: 0;
    height: 50px;
    width: 100%;
    padding: 40px 36px;
    z-index: 100;
    transform: translateY(0);

    transition: transform 0.3s;
    background-color: rgba(0, 0, 0, 0.82);
    backdrop-filter: blur(8px);

    font-family: 'Arial', sans-serif;
}

#navigationBar a{
    font-size: 1.3rem;
    text-align: center;
    color: white;
    text-decoration: none;
    min-width: 5lh;
}

#navigationBar a:hover{
    color: #dfd2a6;
    text-decoration: none;
}

#navigationBar img{
    height: 42px;
    width: auto;
}

@media (max-width: 700px) {
    #navigationBar{
        gap: 16px;
        padding: 24px 16px;
    }

    #navigationBar a{
        font-size: 1rem;
        min-width: auto;
    }

    #navigationBar img{
        height: 34px;
    }
}