#canvas-container {
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none !important;
}

#canvas-container canvas {
    position: relative;
    z-index: 102;
    pointer-events: none !important;
}
