#canvas-container {
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}

#canvas-container canvas {
    position: relative;
    z-index: 1;
}

