@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500i,600,700,900,900i');

App{
    padding: 0;
}

#canvas-background {
    position: fixed;
    inset: 0;
    z-index: -1;
    background:
        radial-gradient(
                ellipse at top,
                #025F78bb 0%,
                #04263499 45%,
                #01111b44 75%,
                #00070c00 100%
        );
}

#canvas-background::after{
    content: "";
    position: absolute;
    inset: 0;

    background: url("/noise.png") repeat;

    opacity: 0.069;
    mask-image: radial-gradient(circle at top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle at top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: overlay;

    pointer-events: none;
}

#Top{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 130px;
    /*justify-content: space-between;*/
}

#title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-grow: 1;
    padding-top: calc(30vh - 130px);
}

#title img{
    max-width: 70vh;
    min-width: 20vh;
    height: auto;
}

/*#title:before{*/
/*    content: attr(title);*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*}*/

/*#title:after{*/
/*    content: attr(title);*/
/*    position: absolute;*/
/*    -webkit-text-stroke: 0.09em white;*/
/*    z-index: -2;*/
/*}*/

/*@keyframes colorCycle {*/
/*    0% {filter: hue-rotate(0deg)}*/
/*    10% {filter: hue-rotate(36deg)}*/
/*    20% {filter: hue-rotate(72deg)}*/
/*    30% {filter: hue-rotate(180deg)}*/
/*    40% {filter: hue-rotate(144deg)}*/
/*    50% {filter: hue-rotate(180deg)}*/
/*    60% {filter: hue-rotate(216deg)}*/
/*    70% {filter: hue-rotate(252deg)}*/
/*    80% {filter: hue-rotate(288deg)}*/
/*    90% {filter: hue-rotate(384deg)}*/
/*    100% {filter: hue-rotate(360deg)}*/
/*}*/
